{
    "presets": [
        "react"
    ],
    "plugins": [
        "dynamic-import-bundle",
        "transform-es2015-modules-commonjs",
        [
            "import",
            {
                "libraryName": "antd"
            }
        ]
        
    ]
}