.wrapper{
    width: 1000px;
    margin: 0 auto;
}
.testH1{
    opacity: 0;
}
.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 1500ms ease-in;
}
.example-exit{
    opacity:1;
}
.example-exit.example-exit-active{
    opacity: 0;
    transition: opacity 1500ms ease-in;
}
.exampl2-enter {
    opacity: 0.01;
}

.exampl2-enter.example-enter-active {
    opacity: 1;
    transition: opacity 1500ms ease-in;
}