{
    "presets": [
        ["env", {
            "module": false,
            "targets": {
                "browsers": [
                    ">= 0.5%",
                    "ie >= 8"
                ]
            },
            "useBuiltIns":"entry",
            "forceAllTransforms":true
        }],
        "react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        ["import", {
            "libraryName": "antd",
            "style": "css"
        }],
        "dynamic-import-bundle",
        [
            "transform-runtime",
            {
                "helpers": true,
                "polyfill": false,
                "regenerator": false
            }
        ]
    ]
}