{
    "presets": [
        ["env", {
            "module": false,
            "targets": {
                "browsers": [
                    "last 2 versions",
                    "safari >= 7",
                    "ie 8"
                ]
            }
        }],
        "react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        ["import", {
            "libraryName": "antd",
            "style": "css"
        }],
        "dynamic-import-bundle"
    ]
}