{
    "presets": [
        ["env", {
            "module": false
        }],
        "react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        ["import", {
            "libraryName": "antd",
            "style": "css"
        }],
        "dynamic-import-bundle"
    ]
}